* {
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgba(0, 0, 0, 0.863);
    /* background-color: rgba(247, 0, 255, 0.863); */
    color: white;
}

#btn-container {
    overflow: hidden;
    width: auto;
    text-align: center;
}

#btn {
    width: 500px;
    height: 200px;
    border-radius: 5vw;
    font-size: xx-large;
    cursor: pointer;
    border-width: 25px;
    border-color: red;
    color: rgb(42, 255, 42);
    background-color: black;
    margin-left: auto;
}


#scriptStatusContainer {
    text-align: center;
    font-size: xx-large;
    /* padding-top: 150px; */
    overflow: hidden;
    width: auto;
    position: relative;
}

#scriptStatus {
    color: rgb(42, 255, 42);
}

.spinner-border {
    color: white;
}

#spinner-container {
    margin-top: 7px;
}

#status-spinner-container {
    display: flex;
    /* position: absolute; */
    justify-content: center;
    padding-top: 30vh;
}

/* footer {
    background-color: black;
    position: absolute;
    margin-top: 67.1vh;
    width: 100%;
    height: 5%;
    text-align: center;
} */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #btn {
        width: 300px;
        height: 170px;
        border-radius: 30vw;
        font-size: xx-large;
        cursor: pointer;
        border-width: 20px;
        border-color: red;
        color: rgb(42, 255, 42);
        background-color: black;
    }

    #scriptStatusContainer {
        text-align: center;
        font-size: large;
        padding-top: 150px;
        overflow: hidden;
        width: auto;
    }

    .spinner-border {
        color: white;
        margin-top: 135px;
        margin-left: 7px;
        font-size: 8px;
    }

    #spinner-container {
        margin-top: 7px;
    }

    #status-spinner-container {
        display: flex;
        justify-content: center;
        padding-top: 3vh;
    }

    footer {
        background-color: black;
        position: relative;
        top: 36.4vh;
        width: 100%;
        height: 8%;
        font-size: large;
        text-align: center;
    }
}